{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="/static/style.css">

<div class="team_logo">
    <img src="/static/team_images/{{team.name}}.png" alt="hello">
</div>
<div class="team_details">
    <div class="stadium">
        Stadium: {{ team.stadium }}
    </div>
    <div class="score">
    Total: {{ team.wins }} wins - {{ team.losses }} losses
    </div>
</div>
<div class="starting_lineup">
        <h1>Starting Lineup</h1>
        {% for player in players %} 
        <li> {{player.name}} - {{player.position}}</li>
        {% endfor %} 
        <p>
            <a href="/players/team/{{team.id}}">View Full Roster</a>
        </p>
</div>
<div class="team_buttons">
    <p>
        <a href="/teams/{{team.id}}/edit">Edit Team</a>
    </p>
    <p>
        <a href="/teams/{{team.id}}/delete">Remove Team</a>
    </p>
    <p>
        <a href="{{ url_for('players.new_player') }}">Add a Player</a>
    </p>
</div>
        


{% endblock %}