{% extends "base.html" %}
{% block content %}


<div class="stadium">
    Stadium: {{ team.stadium }}
</div>
<div class="score">
    Total: {{ team.wins }} wins - {{ team.losses }} losses
</div>
<div class="starting_lineup">
    <p>Starting Lineup:</p>
    {% for player in players %} 
        <li> {{player.name}} </li>
    {% endfor %} 
</div>

<div class="players">
    <a href="/players/team/{{team.id}}">Roster</a>
</div>
<div class="buttons">
    <p>
        <a href="/teams/{{team.id}}/edit">Edit</a>
    </p>
    <p>
        <a href="/teams/{{team.id}}/delete">Remove Team</a>
    </p>
</div>

<div>
    <p>
        <li><a href="{{ url_for('players.new_player') }}">Add a Player</a></li>
    </p>    
</div>

{% endblock %}