{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="player_details">
    <ul>{{player.name}}</ul>
    <p>
        <ul>Team: {{player.team.name}}</ul>
        <ul>Position: {{player.position}}</ul>
    </p>
</div>
<div class="player_buttons">
    <p>
        <a href="/players/{{player.id}}/edit">Edit Player</a>
    </p>
    <p>
        <a href="/players/{{player.id}}/delete">Remove Player</a>
    </p>
</div>

{% endblock %}
