{% extends "base.html" %}
{% block content %}

    <div>
        <p>{{player.name}}</p>
        <hr>
        <div class="team">
            Team: {{player.team.name}}
            <div 
                class="position">
            Position: {{player.position}}
            </div>
        </div>
        <div class="buttons">
            <form class="delete-form" action="/players/{{player.id}}/delete" method="POST">
              <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
            </form>
            <p>
                <a href="/players/{{player.id}}/edit">Edit</a>
            </p>
        </div>
    </div>

{% endblock %}
