/* body { 
    background-image: url('/static/Basketball\ Court\ HD\ Wallpapers\ -\ 2022\ Basketball\ Wallpaper.jpeg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
} */