body { 
    background: url('/static/teahub.io-hd-wallpapers-for-mac-48488.png') no-repeat center center fixed; 
    background-size: cover;
}

.jordan {
    height: 5cm;
    width: 5cm;
    position: absolute;
    bottom: 8%;
    right: 1%;
}

header {
    color: white;
    margin-top: 0;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    width: 75%;
    top: 0;
    left: 0px;
    background-color: blue;
}

.match_info {
  color: white;
  padding-top: 10%;
}

.result_info {
    color: white;
    padding-top: 20px;
    position: fixed;
    right: 2%;
    top: 20%;

}

.top_plays {
    color: white;
    padding-top: 15%;
}

.headline {
    color: white;
    position: absolute;
    text-align:center;
    position: absolute; top: 40%; left: 46%;
    font-size: 30px;
}

.headline_titles {
    color: white;
    position: absolute;
    text-align: left;
    position: absolute; top: 55%; left: 40%;
    font-size: 20px;
}


/* .add_player {
    position: absolute; top: 10%; left: 4%;
    border: 2px solid white;
    background-color: blue;
    text-align: center;
}

.add_player li{
    list-style: none;
} */

.add_team {
    position: absolute; bottom: 0; right: 20px;
    text-align: center;
}

.add_team li{
    list-style: none;
}

.new_team {
    color: white;
    position: absolute;
    text-align: center;
    position: absolute; top: 37%; left: 43%;
    font-size: 20px;
}

.team_details {
    color: white;
    position: absolute;
    left: 1%;
    bottom: 30%;
    font-size: 25px;
} 

.starting_lineup {
    color: white;
    text-align: center;
    position: absolute; top: 37%; left: 43%;
    font-size: 20px;
}

.starting_lineup li {
    list-style: none;
}

.team_buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 1%;
    right: 1%;
    gap: 15px;
}

.team_logo {
    position: absolute;
    top: 10%;
    left: 5%;
    background-size: 100%;
}

.player_details {
    color: white;
    position: absolute;
    text-align: center;
    position: absolute; top: 37%; left: 43%;
    font-size: 20px;
}

.player_buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 1%;
    right: 1%;
    gap: 15px;
}

.add_player {
    color: white;
    position: absolute;
    text-align: left;
    position: absolute; top: 37%; left: 43%;
    font-size: 20px;
}

.update_team {
    color: white;
    position: absolute;
    text-align: left;
    position: absolute; top: 37%; left: 43%;
    font-size: 20px;
}

.update_player {
    color: white;
    position: absolute;
    text-align: left;
    position: absolute; top: 37%; left: 43%;
    font-size: 20px;
}

#grid_teams {
    display: grid;
    height: 200px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 25px 60px;
    padding-top: 20%;
}
  
#grid_teams > div {
    border: 1px solid transparent;
    background-color: transparent;
    text-align: center;
}

#grid_players {
    display: grid;
    height: 200px;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
    gap: 25px 60px;
    padding-top: 20%;
}
  
#grid_players > div {
    text-align: center;
}

h2 {
    color: white;
    position: absolute; top: 37%; left: 47%;
}

#grid_standings {
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-auto-flow: row; */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    color: white;
    display: grid;
    height: 200px;
    padding-top: 25%;
    gap: 10px 20px;
    padding-left: 25%;
}

footer {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: blue;
}