<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="static/style.css"> -->
    <title>NBA Wiki Page</title>
</head>
<body>
    <header>
        <nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('teams.teams') }}">Teams</a></li>
            <li><a href="{{ url_for('standings.standings') }}">Standings</a></li>
            <li><a href="{{ url_for('players.players') }}">Players</a></li>
            <li><a href="https://www2.nbastore.eu/en/?loc=en-GB?_s=bm-fi-NBA-prtsite-NBA-PS-1020US">NBA Store</a> </li>
            <li><a href="https://watch.nba.com/packages?ls=nba:leaguepass:own:dig:intsites:topnav:eg:acq:sub:dtc-acq:skysports:UK:en:">NBA League Pass</a> </li>
          </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
      {%block home%}
      {% endblock %}
</body>
</html>