{% extends "base.html" %}
{% block home %}



<div>
    <h3>Today's Matches</h3>
    <hr>
    <div> </div>
    <p>Toronto Raptors vs Chicago Bulls 7:00 pm</p>
    <p>LA Lakers vs Los Angeles Clippers 8:30 pm</p>
    <p>Brooklyn Nets vs Miami Heat 10:00 pm</p>

</div>
<div>
    <h3>Results</h3>
    <hr>
    <p>Boston Celtics 118-109 New Orlean Pelicans</p>
    <p>Golden State Warriors 132-110 Washington Wizards</p>
    <p>Atlanta Hawks 92-99 New York Knicks</p>
    <p>Indiana Pacers 84-101 Dallas Mavericks</p>
    <!-- add highlights??? -->
</div>
<div>
    <h3>Top Plays</h3>
    <hr>
    <li><a href="https://www.youtube.com/watch?v=eqeRDDT11R4">Top 10 Plays of The Night</a></li>
    <li><a href="https://www.youtube.com/watch?v=k2w5YmWUBlM">Top 5 Dunks of The Night</a></li>

</div>

<footer>
    <p>Terms & Conditions</p>
    <p>Privacy & Cookies Notice</p>
    <p>Privacy Options</p>
    <p>Accessibility Information</p>
    <p>Contact Us</p>
</footer>

{% endblock %}
