{% extends "base.html" %}
{% block home %}


<div class="match_info">
    <div>
        <h3><u>Today's Matches</u></h3>
        <div> </div>
        <p>Toronto Raptors vs Chicago Bulls 7:00 pm</p>
        <p>L.A Lakers vs Los Angeles Clippers 8:30 pm</p>
        <p>Brooklyn Nets vs Miami Heat 10:00 pm</p>

    </div>
</div>
<div class="result_info">  
    <div>
        <h3><u>Results</u></h3>
        <p>Toronto Raptors 124-120 Miami Heat</p>
        <li><a href="https://www.youtube.com/watch?v=ewg2Cm0JNxc">Raptors vs Heat Full Game Highlights</a></li>
        <p>Brooklyn Nets 106-110 Golden State Warriors</p>
        <li><a href="https://www.youtube.com/watch?v=IK-8Hxj4ysY">Nets vs Warriors Full Game Highlights</a></li>
        <p>Boston Celtics 107-97 New Orleans Pelicans</p>
        <li><a href="https://www.youtube.com/watch?v=Nh6YdD7Ia_Y">Nets vs Warriors Full Game Highlights</a></li>
        <p>Indiana Pacers 105-132 Dallas Mavericks</p>
        <li><a href="https://www.youtube.com/watch?v=efS_UwIfiyM">Nets vs Warriors Full Game Highlights</a></li>
    </div>
</div>
<div class="top_plays">    
    <div>
        <h3><u>Top Plays</u></h3>
        <li><a href="https://www.youtube.com/watch?v=eqeRDDT11R4">Top 10 Plays of The Night: January 29</a></li>
        <li><a href="https://www.youtube.com/watch?v=k0RUeeny-B8">Top 10 Plays of The Night: January 30</a></li>
        <li><a href="https://www.youtube.com/watch?v=k2w5YmWUBlM">Top 5 Dunks of The Night: January 29</a></li>
    </div>
</div>
<img class="jordan" src="/static/air_jordan.png">
<div class="headline">
    <ul><u>Headlines</u></ul>
</div>
    <div class="headline_titles">
        <li><u>Power Rankings: Red-hot Suns hold No. 1 spot</u></li>
        <li><u>Beal to get further evaluation on wrist injury</u></li>
        <li><u>Suns' Williams to coach Team LeBron at All-Star Game</u></li>
        <li><u>LeBron (knee) misses game, returns to L.A. for treatment</u></li>
        <li><u>Ingles (knee) exits game, will undergo MRI</u></li>
        <li><u>Herro's game back in tune once again for Miami</u></li>
        <li><u>Archive 75: George Mikan</u></li>
        <li><u>Predicting West reserves: Will Jazz have 2 All-Stars?</u></li>
        <li><u>Predicting East reserves: VanVleet making a late case</u></li>
        <li><u>Nets, Irving struggling to develop continuity</u></li>
    </div>
</div>


<footer>
    <p>Terms & Conditions</p>
    <p>Privacy & Cookies Notice</p>
    <p>Privacy Options</p>
    <p>Accessibility Information</p>
    <p>Contact Us</p>
</footer>

{% endblock %}
