{% extends "base.html" %}
{% block home %}


<div class="match_info">
    <div>
        <h3><u>Today's Matches</u></h3>
        <div> </div>
        <p>Toronto Raptors vs Chicago Bulls 7:00 pm</p>
        <p>L.A Lakers vs Los Angeles Clippers 8:30 pm</p>
        <p>Brooklyn Nets vs Miami Heat 10:00 pm</p>

    </div>
</div>
<div class="result_info">  
    <div>
        <h3><u>Results</u></h3>
        <p>Boston Celtics 118-109 New Orlean Pelicans</p>
        <p>Golden State Warriors 132-110 Washington Wizards</p>
        <p>Atlanta Hawks 92-99 New York Knicks</p>
        <p>Indiana Pacers 84-101 Dallas Mavericks</p>
        <!-- add highlights??? -->
    </div>
</div>
<div class="top_plays">    
    <div>
        <h3><u>Top Plays</u></h3>
        <li><a href="https://www.youtube.com/watch?v=eqeRDDT11R4">Top 10 Plays of The Night</a></li>
        <li><a href="https://www.youtube.com/watch?v=k2w5YmWUBlM">Top 5 Dunks of The Night</a></li>
    </div>
</div>
<img class="jordan" src="/static/air_jordan.png">


<footer>
    <p>Terms & Conditions</p>
    <p>Privacy & Cookies Notice</p>
    <p>Privacy Options</p>
    <p>Accessibility Information</p>
    <p>Contact Us</p>
</footer>

{% endblock %}
